{% extends 'base_login.html' %}
{% load bootstrap3 %}

{% block titulo_pagina %}Iniciar sesión{% endblock %}

{% block titulo_contenido %}
    <b>Iniciar sesión</b>
{% endblock %}

{% block icon %}
    <i class="fa fa-share-square-o"></i>
{% endblock %}

{% block contenido %}
	<form method="post" id="login-form" action="" class="margin-bottom-0">
        {% csrf_token %}

        {% bootstrap_form form layout='inline' %}

        <div class="login-buttons">
            <button type="submit" class="btn btn-primary btn-block btn-lg">
                <i class="fa fa-sign-in"></i> Ingresar
            </button>
        </div>
        <div class="m-t-20 text-center">
            ¿Olvidó su contraseña? Click <a href="{% url 'password_reset' %}">aquí</a> para recuperarla.

        </div>
    </form>
{% endblock %}
