{% extends "base.html" %}
{% load staticfiles %}

{% block titulo_pagina %}
    Restablecer contraseña
{% endblock %}

{% block breadcrumb %}
    <li class="active">
        <span>Restablecer contraseña</span>
    </li>
{% endblock %}

{% block titulo_panel %}
    Restablecer contraseña
{% endblock %}

{% block contenido_panel %}
    <div class="row" style="padding-top: 15px; padding-bottom: 15px;">
        <div class="col-md-12">
            <div class="note note-success">
                <h4 class="block"><strong>Restablecimiento de contraseña completado !</strong></h4>
                <p>
                    Su contraseña ha sido cambiada. Ya puede iniciar sesión con su nueva contraseña.
                </p>
                <p>
                    <br>
                    <a href="{% url 'login' %}">Iniciar sesión</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}