{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block breadcrumb %}
    <li class="active">
        <span>Cambiar contraseña</span>
    </li>
{% endblock %}

{% block titulo_panel %}
    Cambiar contraseña
{% endblock %}

{% block titulo_contenido %}
    Gestión de usuarios
{% endblock %}

{% block titulo_pagina %}
    Cambiar contraseña
{% endblock %}

{% block css %}
    {{ form.media }}
    <link href="{% static 'assets/plugins/password-indicator/css/password-indicator.css' %}" rel="stylesheet" />
{% endblock css %}

{% block contenido_panel_form %}
    <form action="" method="POST" id="password-reset-change">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                {% bootstrap_field form.old_password %}
            </div>
        </div>
        <div class="row" style="padding-top: 10px; padding-bottom: 15px">
            <div class="col-md-12">
                <div class="mt-element-list">
                    <div class="mt-list-head list-simple font-white bg-red-flamingo">
                        <div class="list-head-title-container">
                            <h5 class="list-title"><b>Para su nueva contraseña tenga en cuenta lo siguiente</b></h5>
                        </div>
                    </div>
                    <div class="mt-list-container list-simple">
                        <ul>
                            <li class="mt-list-item">
                                <div class="list-icon-container done">
                                    <i class="icon-check"></i>
                                </div>
                                <div class="list-item-content">
                                    Su contraseña no puede asemejarse tanto a su otra información personal.
                                </div>
                            </li>
                            <li class="mt-list-item">
                                <div class="list-icon-container done">
                                    <i class="icon-check"></i>
                                </div>
                                <div class="list-item-content">
                                    Su contraseña debe contener al menos 8 caracteres.
                                </div>
                            </li>
                            <li class="mt-list-item">
                                <div class="list-icon-container done">
                                    <i class="icon-check"></i>
                                </div>
                                <div class="list-item-content">
                                    Su contraseña no puede ser una clave utilizada comúnmente.
                                </div>
                            </li>
                            <li class="mt-list-item">
                                <div class="list-icon-container done">
                                    <i class="icon-check"></i>
                                </div>
                                <div class="list-item-content">
                                    Su contraseña no puede ser completamente numérica.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% bootstrap_field form.new_password1 show_help=False %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% bootstrap_field form.new_password2 %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary pull-right" type="submit"><i class="fa fa-refresh"></i> Cambiar contraseña </button>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/validaciones/auth/validaciones_cambiar_password.js' %}"></script>
    <script src="{% static 'assets/plugins/password-indicator/js/password-indicator.js' %}"></script>
    <script>
        $("#id_new_password1").after('<div id="passwordStrengthDiv" class="is0 m-t-5"></div>');
        $('#id_new_password1').passwordStrength();
    </script>
{% endblock %}