{% extends "base.html" %}
{% load staticfiles %}

{% block titulo_pagina %}
    Restablecer contraseña
{% endblock %}

{% block breadcrumb %}
    <li class="active">
        <span>Restablecer contraseña</span>
    </li>
{% endblock %}

{% block titulo_panel %}
    Restablecer contraseña
{% endblock %}

{% block contenido_panel %}
    <div class="row" style="padding-top: 15px; padding-bottom: 15px;">
        <div class="col-md-12">
            <div class="note note-success">
                <h4 class="block"><strong>Correo para restablecer contraseña envíado !</strong></h4>
                <p>
                    Le hemos enviado por correo electrónico las instrucciones para restablecer su contraseña. Si existe una cuenta con la dirección electrónica que indicó, debería recibir las instrucciones en breve.
                </p>
                <p>
                    Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 15px; padding-bottom: 15px;">
        <div class="col-md-12">
            <a href="{% url 'inicio' %}" class="btn btn-primary"><i class="fa fa-chevron-left "></i> Regresar a inicio</a>
        </div>
    </div>
{% endblock %}