{% load i18n %}{% autoescape off %}
{% blocktrans %}Usted ha recibido este correo porque solicitó recuperar la contraseña de su cuenta de usuario en el Sistema de Ejecución de Ordenes de Trabajo (SEOT).{% endblocktrans %}

{% trans "Por favor ingrese a la siguiente página y digite una nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Su nombre de usuario, en caso que lo haya olvidado:" %} {{ user.get_username }}

{% trans "Este es un correo automático, por favor no responder." %}

{% blocktrans %}Sistema de Ejecución de Ordenes de Trabajo (SEOT){% endblocktrans %}

{% endautoescape %}