{% extends 'base_login.html' %}
{% load bootstrap3 %}

{% block titulo_pagina %}Recuperar contraseña{% endblock %}

{% block contenido %}
	<form method="post" id="form-login" action="" class="margin-bottom-0">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}"/>
        <h3 style="text-align: center; font-weight: bold">Recuperar contraseña</h3>
        <p style="text-align: center;">
            ¿Ha olvidado su clave?
        </p>
        <p style="text-align: justify">
            Introduzca su dirección de correo electrónico y le enviaremos las instrucciones para establecer una nueva.
        </p>
        {% bootstrap_form form layout='inline' %}

        <div class="form-actions">
            <button type="submit" class="btn blue-steel btn-block sbold uppercase">
                <i class="fa fa-refresh"></i> Restablecer
            </button>
        </div>
    </form>
{% endblock %}