{% extends "base_login.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block breadcrumb %}
    <li class="active">
        <span>Restablecer contraseña</span>
    </li>
{% endblock %}

{% block titulo_contenido %}
    Restablecer contraseña
{% endblock %}

{% block titulo_pagina %}
    Restablecer contraseña
{% endblock %}

{% block css %}
    <link href="{% static 'css/registration/password_reset_style.css' %}" rel="stylesheet" id="theme" />
{% endblock css %}

{% block contenido %}
    {% if validlink %}
        <form action="" method="POST" id="password-reset-change">
            {% csrf_token %}
            <div class="row" style="padding-top: 10px; padding-bottom: 15px">
                <div class="col-md-12">
                    <div class="mt-element-list">
                        <div class="mt-list-head list-simple font-white bg-red-flamingo">
                            <div class="list-head-title-container">
                                <h5 class="list-title"><b>Para su nueva contraseña tenga en cuenta lo siguiente</b></h5>
                            </div>
                        </div>
                        <div class="mt-list-container list-simple">
                            <ul>
                                <li class="mt-list-item">
                                    <div class="list-icon-container done">
                                        <i class="icon-check"></i>
                                    </div>
                                    <div class="list-item-content">
                                        Su contraseña no puede asemejarse tanto a su otra información personal.
                                    </div>
                                </li>
                                <li class="mt-list-item">
                                    <div class="list-icon-container done">
                                        <i class="icon-check"></i>
                                    </div>
                                    <div class="list-item-content">
                                        Su contraseña debe contener al menos 8 caracteres.
                                    </div>
                                </li>
                                <li class="mt-list-item">
                                    <div class="list-icon-container done">
                                        <i class="icon-check"></i>
                                    </div>
                                    <div class="list-item-content">
                                        Su contraseña no puede ser una clave utilizada comúnmente.
                                    </div>
                                </li>
                                <li class="mt-list-item">
                                    <div class="list-icon-container done">
                                        <i class="icon-check"></i>
                                    </div>
                                    <div class="list-item-content">
                                        Su contraseña no puede ser completamente numérica.
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% bootstrap_field form.new_password1 show_help=False %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% bootstrap_field form.new_password2 %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" type="submit"> Restablecer contraseña </button>
                </div>
            </div>
        </form>
    {% else %}
        <div class="alert alert-danger" role="alert">
            El enlace de cambio de contraseña es inválido, probablemente porque ya ha sido usado.
            Por favor solicite un nuevo enlace de cambio de contraseña.
        </div>
    {% endif %}
{% endblock %}