{%extends "base.html"%}
{% load staticfiles %}

{%block titulo_panel %}
     Sensores
{% endblock%}

{%block titulo_pagina %}
     Sensor
{% endblock%}

{% block breadcrumb %}
    <li class="active">
        <span>Sensores</span>
    </li>
{% endblock %}

{% block titulo_contenido %}
    Consultar Sensores
{% endblock %}

{% block botones_panel %}
    <a href="{% url 'gestion_sensores:crear_sensor' %}" class="btn btn-primary btn-xs"><i class="fa fa-clipboard"></i> Registrar</a>
{% endblock %}

{% block contenido_panel %}
    {% if object_list %}
        <table class="table table-bordered table-hover datatable">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Código</th>
                    <th>Estado</th>
                    <th>Ubicación</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for sensor in object_list %}
                    <tr>
                        <td>{{ sensor.nombre }}</td>
                        <td>{{ sensor.codigo }}</td>
                        <td>{{ sensor.ubicacion }}</td>
                        <td>
                            {% if sensor.estado == 0 %}
                                <span class="btn label label-info btn-lg">Activo</span>
                            {% else %}
                                <span class="btn label label-danger btn-lg">Inactivo</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'gestion_sensores:editar_sensor' sensor.pk%}" title="Editar"
                               class="btn btn-circle btn-icon-only blue-steel"><i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">
            No hay cargos registrados en el sistema.
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/init_datatable.js' %}"></script>
{% endblock %}