    <li class="has-sub {% if 'gestion-sensores/' in request.path %}active{% endif %}">
        <a href="javascript:;" class="nav-link nav-toggle">
            <b class="caret pull-right"></b>
            <i class="fa fa-microchip"></i>
            <span class="title">Gestión Sensores</span>
        </a>
        <ul class="sub-menu">
            <li {% if 'personas/' in request.path %}class="active"{% endif %}>
                <a href="{% url 'gestion_sensores:listar_sensor' %}" class="nav-link">
                    <span class="title">Sensores</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="has-sub {% if 'gestion-consumo/' in request.path %}active{% endif %}">
        <a href="javascript:;" class="nav-link nav-toggle">
            <b class="caret pull-right"></b>
            <i class="fa fa-money"></i>
            <span class="title">Gestión consumo</span>
        </a>
        <ul class="sub-menu">
            <li {% if 'listar-consumo' in request.path %}class="active"{% endif %}>
                <a href="{% url 'gestion_consumo:listar_consumo' %}" class="nav-link">
                    <span class="title">Consumo</span>
                </a>
            </li>
            <li {% if 'listar-valor' in request.path %}class="active"{% endif %}>
                <a href="{% url 'gestion_consumo:listar_valor' %}" class="nav-link">
                    <span class="title">Valor energetico</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="has-sub {% if 'gestion-estadistica/' in request.path %}active{% endif %}">
        <a href="javascript:;" class="nav-link nav-toggle">
            <b class="caret pull-right"></b>
            <i class="fa fa-microchip"></i>
            <span class="title">Gestión Estadistica</span>
        </a>
        <ul class="sub-menu">
            <li {% if 'estadistica/' in request.path %}class="active"{% endif %}>
                <a href="{% url 'gestion_estadistica:crear_grafica' %}" class="nav-link">
                    <span class="title">Gráfica</span>
                </a>
            </li>
            <li {% if 'estadistica/' in request.path %}class="active"{% endif %}>
                <a href="{% url 'gestion_estadistica:tiempo_real' %}" class="nav-link">
                    <span class="title">Gráfica tiempo real</span>
                </a>
            </li>
        </ul>
    </li>
