    <li class="has-sub {% if 'gestion-sensores/' in request.path %}active{% endif %}">
        <a href="javascript:;" class="nav-link nav-toggle">
            <b class="caret pull-right"></b>
            <i class="fa fa-microchip"></i>
            <span class="title">Gestión Sensores</span>
        </a>
        <ul class="sub-menu">
            <li {% if 'personas/' in request.path %}class="active"{% endif %}>
                <a href="{% url 'gestion_sensores:listar_sensor' %}" class="nav-link">
                    <span class="title">Sensores</span>
                </a>
            </li>
        </ul>
    </li>


