{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{%block titulo_pagina %}
    {% if object %} Editar {% else %} Registrar {% endif %} Consumo Energetico
{% endblock%}

{% block titulo_panel %}
	{% if object %} Editar {% else %} Registrar {% endif %} Consumo Energetico
{% endblock titulo_panel %}

{% block breadcrumb %}
    <li>
        <a href="{% url 'gestion_consumo:listar_consumo' %}">Consumo Energetico</a>
    </li>
    <li class="active">
        <span>{% if object %} Consultar sensor {% else %} Registrar Consumo Energetico {% endif %} </span>
    </li>
{% endblock %}

{% block titulo_contenido %}
    Consumo Energetico
{% endblock %}

{% block contenido_panel_form %}

	<form id="form_sensores"  method="post">
		{% csrf_token %}

        <div class="row">
            <div class="col-sm-6">
                {% bootstrap_field form.sensor %}
            </div>
            <div class="col-sm-6">
                {% bootstrap_field form.consumo %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {% bootstrap_field form.fecha %}
            </div>
            <div class="col-sm-6">
                {% bootstrap_field form.valor %}
            </div>
        </div>


        {% buttons %}
		    <button type="submit" class="btn btn-primary pull-right">
		      <i class="fa fa-edit"></i>
		      {% if object %} Editar {% else %} Registrar {% endif %}
		    </button>
	  	{% endbuttons %}
	</form>

{% endblock %}
