{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{%block titulo_pagina %}
    {% if object %} Editar {% else %} Registrar {% endif %} Valor Energetico
{% endblock%}

{% block titulo_panel %}
	{% if object %} Editar {% else %} Registrar {% endif %} Valor Energetico
{% endblock titulo_panel %}

{% block breadcrumb %}
    <li>
        <a href="{% url 'gestion_consumo:listar_valor' %}">Valor Energetico</a>
    </li>
    <li class="active">
        <span>{% if object %} Consultar sensor {% else %} Registrar Valor Energetico {% endif %} </span>
    </li>
{% endblock %}

{% block titulo_contenido %}
    Valor Energetico
{% endblock %}

{% block contenido_panel_form %}

	<form id="form_sensores" action="" method="post">
		{% csrf_token %}
        <div class="row">
            <div class="col-sm-6">
                {% bootstrap_field form.valor_energia %}
            </div>
            <div class="col-sm-6">
                {% bootstrap_field form.moneda %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {% bootstrap_field form.unida %}
            </div>
            <div class="col-sm-6">
                {% bootstrap_field form.tiempo %}
            </div>
        </div>

        {% buttons %}
		    <button type="submit" class="btn btn-primary pull-right">
		      <i class="fa fa-edit"></i>
		      {% if object %} Editar {% else %} Registrar {% endif %}
		    </button>
	  	{% endbuttons %}
	</form>

{% endblock %}

{% block javascript %}
{% endblock javascript %}